.blank {
    width: 10vw;
}

.container-fluid {
    display: flex;
    flex-direction: row;
}

h1 {
    height: 10vh;
    width: 80vw;
}

svg {
    height: 10vh;
    width: 10vw;
    margin-top: 2.5vh;
    vertical-align: middle;
}
