<h2 class="text-center">
    Trouve ton école
</h2>
<div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="classe"> Je suis </label>
            <select name="classe" id="classe" class="form-control" formControlName="class">
                <option value="Lyceen"> Lycéen </option>
                <option value="DUT"> en DUT </option>
                <option value="CPGE"> en CPGE </option>
            </select>
        </div>

        <div class="form-group">
            <label for="field"> Domaine d'études </label>
            <select name="field" id="field" class="form-control" formControlName="field">
                <option value="AAA">Agronomie, agroalimentaire et agriculture</option>
                <option value="AT">Aérospatial et transports</option>
                <option value="B">Biologie</option>
                <option value="BM">Biomédical</option>
                <option value="C">Chimie</option>
                <option value="COM">Communication, Audiovisuel, Multimédia</option>
                <option value="E">Environnement</option>
                <option value="Eco">Economie et statistique</option>
                <option value="EEA">Electronique, électrotechnique et automatique</option>
                <option value="Ener">Energie</option>
                <option value="G">Généraliste</option>
                <option value="GC">Genie civil, bâtiment et travaux publics</option>
                <option value="Géo">Géosciences</option>
                <option value="GI">Génie industriel</option>
                <option value="GP">Génie Physique</option>
                <option value="IMA">Informatique et mathématiques appliquées</option>
                <option value="Logi">Logistique</option>
                <option value="M">Matériaux</option>
                <option value="Mili">Militaire</option>
                <option value="MP">Mécanique et productique</option>
                <option value="MT">Management technologique</option>
                <option value="PATO">Physique appliquée, télécommunications, optique</option>
                <option value="PR">Prévention des risques</option>
                <option value="Topo">Géométrie, Topographie, Géographie</option>
            </select>
        </div>

        <div class="form-group">
            <label for="region"> Région souhaitée </label>
            <select name="region" id="region" class="form-control" formControlName="region">
                <label for="region"> Région Souhaitée</label>
                <option value="ARA">Auvergne-Rhône-Alpes</option>
                <option value="BFC">Bourgogne-Franche-Comté</option>
                <option value="BRE">Bretagne</option>
                <option value="CVL">Centre-Val de Loire</option>
                <option value="COR">Corse</option>
                <option value="GES">Grand Est</option>
                <option value="HDF">Hauts-de-France</option>
                <option value="IDF">Ile-de-France</option>
                <option value="NOR">Normandie</option>
                <option value="NAQ">Nouvelle-Aquitaine</option>
                <option value="OCC">Occitanie</option>
                <option value="PDL">Pays de la Loire</option>
                <option value="PACA">Provence-Alpes-Côte-d'Azur</option>
            </select>
        </div>
        
        <button class="btn btn-primary" type="submit"> Rechercher </button>
    </form>
</div>