agm-map {
    margin-top: 20px;
    margin-left: 5vw;
    margin-bottom: 20px;
    height: 60vh;
    width: 60vw;
    border-radius: 20px;
}

.row {
    margin: 20px 20px 20px 0;
    height: 20vh;
    align-items: center;
}

.btn {
    margin-bottom: 10px;
    width: 100%;
}

.btn-primary {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

form {
    width: 100%;
}

#form-btn {
    display: flex;
    flex-direction: column;
}

figure.mat-figure figure.mat-grid-tile {
  flex-direction: column;
  color: aquamarine;
}

h2 {
    margin-top: 40px;
    font-size: 5vh;
}

li {
    width: 40vw;
}

#nom {
    font-weight: bold;
}

#schools {
    display: flex;
    flex-direction: column;
}
