agm-map {
    margin-top: 20px;
    margin-left: 5vw;
    height: 60vh;
    width: 60vw;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    height: 20vh;
    background-color: white;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    align-items: center;
}

.btn {
    margin-bottom: 10px;
    width: 100%;
}

.btn-primary {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
}

form {
    width: 20vw;
}

#schools {
    display: flex;
    flex-direction: column;
}
